<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Form">
    <mat-card>
      <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>

        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstName">
          <mat-error *ngIf="hasError('firstName', 'required')">First Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName">
          <mat-error *ngIf="hasError('lastName', 'required')">Last Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="gender" placeholder="Gender">
            <mat-option [value]="genderSelect" *ngFor="let genderSelect of gender">{{genderSelect}}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('gender', 'required')">Gender is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
          <mat-error *ngIf="hasError('email', 'email')">Not a valied email</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Phone No" formControlName="phone" maxlength="10">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Account no" formControlName="account">
          <mat-error *ngIf="hasError('account', 'required')">Account Number is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="IFSC Code" formControlName="code">
          <mat-error *ngIf="hasError('code', 'required')">IFSC Code is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Notes" formControlName="notes">
        </mat-form-field>


        <button mat-raised-button color="primary" [disabled]="!myForm.valid">Submit</button>

      </form>
    </mat-card>
  </mat-tab>
  <mat-tab label="Table">
    <div class="table-container">
      <mat-card>
        <mat-select placeholder="Select your option" [(ngModel)]="selected" (selectionChange)="onChange()">
          <mat-option value="DELHI">DELHI</mat-option>
          <mat-option value="MUMBAI">MUMBAI</mat-option>
          <mat-option value="PUNE">PUNE</mat-option>
          <mat-option value="GURGAON">GURGAON</mat-option>
        </mat-select>
      </mat-card>
      <h2>Table data</h2>
      <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="sNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class='table_head'> S No </th>
            <td mat-cell *matCellDef="let item; let i = index">
              {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>

          <ng-container matColumnDef="bank_id">
            <th mat-header-cell *matHeaderCellDef>Bank ID </th>
            <td mat-cell *matCellDef="let element"> {{element.bank_id}} </td>
          </ng-container>

          <ng-container matColumnDef="bank_name">
            <th mat-header-cell *matHeaderCellDef>Bank Name </th>
            <td mat-cell *matCellDef="let element"> {{element.bank_name}} </td>
          </ng-container>

          <ng-container matColumnDef="branch">
            <th mat-header-cell *matHeaderCellDef> Branch </th>
            <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
          </ng-container>

          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
          </ng-container>

          <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef> District </th>
            <td mat-cell *matCellDef="let element"> {{element.district}} </td>
          </ng-container>

          <ng-container matColumnDef="ifsc">
            <th mat-header-cell *matHeaderCellDef> IFSC </th>
            <td mat-cell *matCellDef="let element"> {{element.ifsc}} </td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
          </ng-container>

          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class='table_head'> Details </th>
            <td mat-cell *matCellDef="let element" class='table_data'>
              <button mat-raised-button color="primary" (click)="openDialog(element)">details</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>
      <mat-paginator #paginatorRef [pageSizeOptions]="[10, 100, 500]" showFirstLastButtons></mat-paginator>

    </div>
  </mat-tab>
  <mat-tab label="Directive">
    <h1 appCapital>hello</h1>
  </mat-tab>
</mat-tab-group>
